---
interface Props {
	alt: string;
  style: string;
	href: string;
}

const { alt, style, href } = Astro.props;
---
<a href={href} class={style} aria-label={`Go to the ${alt} page`}>{alt}</a>

<style>
  a {
    text-decoration: none;
    padding: 4px 6px;
    border-radius: 3px;
  }
  .primary {
    background-color: aqua;
  }
  .secondary {
    border: 1px solid black;
  }
</style>