---
interface Props {
	href: string;
  id?: string;
  style: string;
  aria: string;
  icon?: string;
}

const { href, id, style, aria, icon } = Astro.props;
---

<a 
  href={ href } 
  id={ id } 
  class={ style }
  aria-label={ aria } 
  target="_blank">
  <i class={ icon }></i>
</a>

<style>
  a {
    display: inline-block;
  }

  /* icon style */
  .plain i {
  }

  .plain:hover i {
    color: rgb(59, 190, 78);
  }

  .primary {
    background-color: rgb(27, 26, 26);
    padding: 8px 14px;
    border-radius: 4px;
    border: 1px solid rgb(27, 26, 26);
    color: white;
  }

  .primary:hover {
    background-color: white;
    border: 1px solid rgb(27, 26, 26);
    color: rgb(27, 26, 26);
  }

  .primary i {
    color: white;
  }

  .primary:hover i {
    color: rgb(27, 26, 26);
  }

  .secondary {
    padding: 8px 14px;
    border-radius: 4px;
    border: 1px solid rgb(27, 26, 26);
  }

  .secondary:hover {
    color: white;
    background-color: rgb(27, 26, 26);
    border: 1px solid rgb(27, 26, 26);
  }

  .secondary i {
    color: rgb(27, 26, 26);
  }

  .secondary:hover i {
    color: white;
  }

  /* icon size */
  .sm {
    font-size: 12px;
  }

  .md {
    font-size: 24px;
  }
  
  .lg {
    font-size: 30px;
  }

</style>