---
interface Props {
	text: string;
  subtext: string;
}

const { text, subtext } = Astro.props;
---
<header>
  <h3>{ text }</h3>
  <p>{ subtext }</p>
  
</header>

<style>
  h3 {
    font-family: var(--font-title);
    font-size: var(--font-size-lg);
  }

  p {
    margin-top: 4px;
  }
</style>