---
import Layout from '../layouts/Layout.astro';
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

const title = "Blog";
const description = "This is the description for the blog page.";

---

<Layout title={title} description={description}>
	<section id="blogpage">
		<!-- title -->
		<header aria-label="Main header">
			<div class="container">
				<h1>{title}</h1>
			</div>
		</header>

		<div class="container">
			<Breadcrumbs ariaLabel="Structured list of pages" linkTextFormat="capitalized" separatorAriaHidden={false}>
        <svg
          slot="separator"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </Breadcrumbs>
		</div>

		<main>
			<!-- section -->
			<article id="section-name-1" aria-labelledby="section-title-1">
				<div class="container" role="region" aria-label="Section 1 content">
					<h2 id="section-title-1">Section 1 Title</h2>
					Section 1 content
				</div>
			</article>
			<!-- section -->
			<article id="section-name-2" aria-labelledby="section-title-2">
				<div class="container" role="region" aria-label="Section 2 content">
					<h2 id="section-title-2">Section 2 Title</h2>
					Section 2 content
				</div>
			</article>
		</main>
	</section>
</Layout>

<style>

</style>