---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Title">
	<section id="homepage">
		<header>
			<h1>Page Title</h1>
		</header>
		<main>
			<section>
				<h2>Section Title</h2>
				Page content
			</section>
		</main>
	</section>
</Layout>

<style>
	
</style>
