---
import Layout from '../layouts/Layout.astro';
import PageHistory from '../components/PageHistory.astro';
import Page from '../components/titles/Page.astro';
const title = "Home";
const description = "This is the description for the home page.";
---

<Layout title={title} description={description}>
	<section id="homepage">
		<!-- title -->
		<Page title={title} />

		<!-- breadcrumbs -->
		<PageHistory />

		<main>
			<!-- section -->
			<article id="section-name-1" aria-labelledby="section-title-1">
				<div class="container" role="region" aria-label="Section 1 content">
					<h2 id="section-title-1">Section 1 Title</h2>
					Section 1 content
				</div>
			</article>
			<!-- section -->
			<article id="section-name-2" aria-labelledby="section-title-2">
				<div class="container" role="region" aria-label="Section 2 content">
					<h2 id="section-title-2">Section 2 Title</h2>
					Section 2 content
				</div>
			</article>
		</main>
	</section>
</Layout>

<style>

</style>
