---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Title">
	<section id="homepage">
		<!-- title -->
		<header>
			<div class="container">
				<h1>Page Title</h1>
			</div>
		</header>
		<main>
			<!-- section -->
			<section id="section-name">
				<div class="container">
					<h2>Section Title</h2>
					Section content
				</div>
			</section>
			<!-- section -->
			<section id="section-name">
				<div class="container">
					<h2>Section Title</h2>
					Section content
				</div>
			</section>
		</main>
	</section>
</Layout>

<style>

</style>
