---
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || 'Portfolio'}</title>
    <meta name="description" content={description || 'Default description for the page'}>
	</head>
	<body>
		<Navbar />
		<div class="page-content">
			<slot />
		</div>
		<footer aria-label="Main header">
			<div class="container">
				Footer
			</div>
		</footer>
	</body>
</html>
<style is:global>
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}
	body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
	}
	/* anchor footer to bottom of screen */
	.page-content {
		flex-grow: 1;
	}
	/* max-width and minimum page padding */
	.container {
		max-width: 1300px;
		margin: auto;
		padding: 30px;
	}
</style>
