---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="navbar">
			<div class="container">
				Logo
				<nav>
					Nav links
				</nav>
			</div>
		</div>
		<div class="page-content">
			<slot />
		</div>
		Footer
	</body>
</html>
<style is:global>
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}
	body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
	}
	/* anchor footer to bottom of screen */
	.page-content {
		flex-grow: 1;
	}
	.container {
		max-width: 1300px;
		margin: auto;
		padding: 30px;
	}
</style>
