---
import Logo from '../flair/Logo.astro';
import Icon from '../interactive/Icon.astro';
---

<section class="no-print">
  <footer>
    <h2 aria-hidden="true">Footer</h2>
    <container>
      <section id="brand">
        <div>
          <Logo />
        </div>
        <ul id="social-icons">
          <li>
            <Icon 
              href="http://github.com/alyssaweiglein/" 
              id="Github" 
              style="plain" 
              aria="GitHub" 
              icon="fa-brands fa-github md"
            />
          </li>
          
          <li>
            <Icon 
              href="http://linkedin.com/in/aweiglein/" 
              id="LinkedIn" 
              style="plain" 
              aria="LinkedIn" 
              icon="fa-brands fa-linkedin md"
            />
          </li>
        </ul>
      </section>

      <div id="footer-content">
        <section id="contact-info">
          <h4>Contact</h4>
          <ul>
            <li><i class="fa-solid fa-envelope" aria-label="Email"></i><a href="mailto:alyssa@arw.works.com">alyssa@arw.works.com</a></li>
          </ul>
        </section>
        <section>
          <h4>Navigate</h4>
          <ul>
            <li>
              <a href="/" id="home" aria-label="Home">Home</a>
            </li>
            <li>
              <a href="/#about" id="about" aria-label="About">About</a>
            </li>
            <li>
              <a href="/#projects" id="projects" aria-label="Projects">Projects</a>
            </li>
            <li>
              <a href="/#projects" id="projects" aria-label="work-with-me">Work with me</a>
            </li>
            <li>
              <a href="/resume" id="resume" aria-label="Resume">Resume</a>
            </li>
          </ul>
        </section>
      </div>

      <small id="legal" aria-label="Legal">
        <ul>
          <li>
            <a href="/" id="terms-policy" aria-label="Terms and Conditions">Terms & Conditions</a>
          </li>
          <li>
            <a href="/" id="privacy-policy" aria-label="Home">Privacy Policy</a>
          </li>
          <li>
            <a href="/" id="cookie-policy" aria-label="About">Cookie Policy</a>
          </li>
          <li>
            <a href="/" id="sitemap" aria-label="Services">Sitemap</a>
          </li>
        </ul>
      </small>
    </container>
  </footer>
</section>

<style>
  footer {
    
  }
  footer container {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  h2 {
    display: none;
  }

  h4 {
    margin-bottom: 8px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }

  ul:not(#social-icons) {
    margin-bottom: 20px;
  }

  section #brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #footer-content {
    display: flex;
    flex-direction: column;
  }
  
  #contact-info {
    grid-area: 1 / 1 / 2 / 3;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .info ul li {
    line-height: .6;
  }
  
  span {
    font-weight: bold;
    width: 40px;
    display: inline-block;
  }

  i:not(#top-row i) {
    width: 26px;
  }

  li {
    font-size: 13px;
  }
  #legal ul li {
    opacity: .5;
  }

  @media screen and (max-width: 800px) {
    small {
      font-size: 6px;
    }
    h4 {
      font-size: 18px;
    }
  }
</style>