---
import Logo from "../flair/Logo.astro";
import Link from "../interactive/Link.astro";
---

<header id="navbar">
  <container>
    <Logo />
    <nav aria-label="navigation">
      <ul>
        <li><Link href="/#about" style="plain" aria="About" text="About" /></li>
        <li><Link href="/#projects" style="plain" aria="Projects" text="Projects" /></li>
        <li><Link href="/resume" style="plain" aria="Resume" text="Resume" /></li>
        <li><Link href="/" style="secondary" aria= "Contact" text="Contact" /></li>
      </ul>
    </nav>
  </container>
</header>

<style>
  #navbar {
    
  }

  #navbar container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  li {
    list-style-type: none;
  }
</style>