---
import Logo from "./Logo.astro";
---

<footer>
  <div class="container">
    <Logo />
    <p>&copy; 2024 | Company</p>
    <nav aria-label="Footer navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</footer>

<style>
  footer {
    background-color: rgb(240, 240, 240);
  }
  
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }
</style>