---
import Logo from "./Logo.astro";
---

<div id="navbar">
  <div class="container">
    <Logo />
    <nav aria-label="Main navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</div>

<style>
  #navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
  }

  ul {
    display: flex;
    gap: 14px;
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }
</style>