---
import Link from '../../global/interactive/Link.astro';
---

<section id="about">
  <container>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit voluptates numquam aspernatur facere explicabo alias accusantium magnam inventore consequuntur, dolores, quisquam, aliquam iste tempore quo. Minus amet aspernatur odio libero voluptatem blanditiis adipisci expedita culpa explicabo ea! Tenetur delectus quod porro temporibus corporis assumenda quam. Aliquam aliquid deserunt odit facere minus eos laboriosam minima debitis inventore eligendi rerum optio ab impedit nostrum labore earum at, perferendis quos quo, odio accusantium. Aliquid minus esse, voluptas debitis quidem incidunt ducimus? Odio officiis mollitia placeat, vel tempora ex consectetur unde consequuntur. Illo tempore at laboriosam, reprehenderit doloremque accusamus saepe incidunt perferendis? Dignissimos, ipsam.</p>
  </container>
</section>

<style>
  #about {
    
  }

  #about container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    align-items: flex-start;
  }
</style>