---
import InfoCard from "../../global/cards/InfoCard.astro";
import Icon from "../../global/interactive/Icon.astro";
import Title from "../../global/titles/Title.astro";
---

<section id="about">
  <container>
    <Title text="Hello" subtext="I'm Alyssa—a computer science student actively exploring job opportunities." />
    <section id="text">
      <p>
        Through my work, I bridge the gap between form and function, 
        tranforming complex ideas into user-centric applications. Whether it's 
        frontend or backend development, implementing cloud infrastructure solutions, 
        or analyzing data sets, my strength lies in delivering top-notch work with an 
        eye for quality, ensuring it aligns seamlessly with established timelines.  
      </p>
      <p>
        Offline, you'll find me outdoors—paddleboarding at the lake, taking my pup for long walks, or cooking over a campfire. 
      </p>
      <p>
        I'm eager to bring my enthusiasm and adaptable mindset to your team.
      </p>
      <p> 
        <a href="#contact"> Let's connect</a>.
      </p>
    </section>
    <section>
      <h4>Toolkit</h4>
      <div class="tech">
        <Icon icon="fa-brands fa-js md" style="plain" aria="JavaScript" />
        <Icon icon="fa-brands fa-java md" style="plain" aria="Java" />
        <Icon icon="fa-brands fa-python md" style="plain" aria="Python" />
        <Icon icon="fa-brands fa-react md" style="plain" aria="React" />
        <Icon icon="devicon-nodejs-plain md" style="plain" aria="Node.js" />
        <Icon icon="devicon-express-original md" style="plain" aria="Express" />
        <Icon icon="fa-brands fa-html5 md" style="plain" aria="HTML5" />
        <Icon icon="fa-brands fa-css3-alt md" style="plain" aria="CSS3" />
        <Icon icon="fa-brands fa-sass md" style="plain" aria="Sass" />
        <Icon icon="devicon-mysql-plain md" style="plain" aria="MySQL" />
        <Icon icon="devicon-mongodb-plain md" style="plain" aria="MongoDB" />
        <Icon icon="fa-brands fa-git-alt md" style="plain" aria="Git" />
        <Icon icon="devicon-bash-plain md" style="plain" aria="Bash" />
        <Icon icon="devicon-photoshop-line md" style="plain" aria="Photoshop" />
        <Icon icon="devicon-illustrator-line md" style="plain" aria="Illustrator" />
      </div>
    </section>
    <section>
      <button class="collapsible"><h4>Education</h4></button>
      <div class="content">
        <InfoCard title="B.S., Computer Science" description="Oregon State University"/>
      </div>
    </section>
    <section>
      <button class="collapsible"><h4>Certifications</h4></button>
      <div class="content">
        <InfoCard title="ITIL 4 Foundations" description="Axelos"/>
        <InfoCard title="Project+" description="CompTIA"/>
      </div>
    </section>
  </container>
</section>

<style>
  #about {
    background-color: var(--theme-background-shade);
  }
  
  #about container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    align-items: flex-start;
  }

  #text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
  .tech {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 8px;
    background-color: var(--theme-background);
    border-radius: 6px;
    padding: 10px 14px;
  }

  .collapsible {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  .active, .collapsible:hover {
    color: var(--theme-accent-2);
  }

  .collapsible:after {
    content: '\002B';
    font-weight: bold;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
    color: var(--theme-accent);
  }

  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  a {
    font-weight: bold;
  }
</style>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      } 
    });
  }
  </script>