---
import Title from "../../global/titles/Title.astro";

---

<section id="blog">
  <container>
    <Title text="Thoughts" subtext="Insights, experiences, and challenges.">
  </container>
</section>

<style>
  #blog {
    background-color: var(--theme-background-shade);
  }
</style>