---
import Link from '../../global/interactive/Link.astro';
---

<section id="hero">
  <container>
    <p>Lorem</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, explicabo.</p>
    <div class="link-container">
      <Link href="#projects" style="primary" icon="fa-solid fa-folder-open" aria="Work" text="Work" />
      <Link href="/resume" style="secondary" icon="fa-solid fa-file" aria="Resume" text="Resume" />
    </div>
    <a href="#about"><i class="fa-solid fa-arrow-down"></i></a>
  </container>
</section>

<style>
  #hero {
    min-height: 300px;
  }

  #hero container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    gap: 20px;
    align-items: flex-start;
  }

  i {
    font-size: 90px;
  }

  i:hover {
    transform: translateY(2px);
    transition: .1s;
  }
</style>

<script>
  function setHeroHeight() {
    const viewportHeight = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0);
    const bottomToolbarHeight = 99; // Adjust this value based on your actual toolbar height
    const heroHeight = viewportHeight - bottomToolbarHeight;
    document.getElementById('hero').style.height = `${heroHeight}px`;
  }
  window.addEventListener('load', setHeroHeight);
  window.addEventListener('resize', setHeroHeight);
</script>