---
import Link from '../../global/interactive/Link.astro';
---

<section id="hero">
  <container>
    <p>Lorem</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, explicabo.</p>
    <div class="link-container">
      <Link href="#projects" style="primary" icon="fa-solid fa-folder-open" aria="Work" text="Work" />
      <Link href="/resume" style="secondary" icon="fa-solid fa-file" aria="Resume" text="Resume" />
    </div>
    <a href="#about">
      <iconify-icon icon="dashicons:arrow-down-alt2"></iconify-icon></a>
  </container>
</section>

<style>
  #hero {
    min-height: 300px;
  }

  #hero container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    gap: 20px;
    align-items: flex-start;
  }

  iconify-icon {
    font-size: 40px;
    margin-left: -7px;
    margin-bottom: -10px;
  }

  iconify-icon:hover {
    transform: translateY(3px);
    transition: .1s;
  }
</style>

<script>
  function setHeroHeight() {
    const viewportHeight = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0);
    const bottomToolbarHeight = 99;
    const heroHeight = viewportHeight - bottomToolbarHeight;
    document.getElementById('hero').style.height = `${heroHeight}px`;
  }
  window.addEventListener('load', setHeroHeight);
  window.addEventListener('resize', setHeroHeight);
</script>