---
import FeatureCard from "../../global/cards/FeatureCard.astro";
import Title from "../../global/titles/Title.astro";
---

<section id="work-with-me">
  <container>
    <Title text="Work with me" subtext="Dedicated to building digital products that are accessible and maintainable." />
    <div id="features-container">
      <FeatureCard 
        icon="fa-brands fa-pagelines" 
        title="Adaptable" 
        text="Navigates diverse situations to demonstrate flexibility, openness to change, and an ability to learn and collaborate across various environments."
        />
      <FeatureCard 
        icon="fa-regular fa-face-smile" 
        title="Efficient" 
        text="Maximizes productivity and minimizes redundancies to deliver high-quality code." 
      />
      <FeatureCard 
        icon="fa-solid fa-laptop" 
        title="Passionate" 
        text="Exhibits a genuine enthusiasm for coding, innovative problem-solving and technology." 
      />

      <FeatureCard 
        icon="fa-regular fa-thumbs-up" 
        title="Detail-oriented" 
        text="Ensures precision and accuracy in work by attending to every aspect of a project." 
      />

      <FeatureCard 
        icon="fa-regular fa-sun" 
        title="Collaborative" 
        text="Works towards achieving shared goals by ontributing ideas and fostering a positive group dynamic." 
      />

      <FeatureCard 
        icon="fa-solid fa-pencil" 
        title="Perpetual Learner" 
        text="Embraces a lifelong commitment to learning, staying current with evolving technologies." 
      />
    </div>
  </container>
</section>

<style>
  #work-with-me {
    
  }
  
  #work-with-me container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #features-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  @media screen and (max-width: 800px) {
    #features-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 600px) {
    #features-container {
      display: flex;
      flex-direction: column;
    }
  }
</style>