
<section id="resume">
  <section class="top">
    <div class="left-top">
      <h2>Alyssa Weiglein</h2>
      <p><i class="fa-solid fa-envelope"></i> <a href="mailto:contact@arw.works">contact@arw.works</a></p>
      <p><i class="fa-solid fa-home"></i> <a href="http://arw.works" target="_blank">arw.works</a></p>
      <p><i class="fa-brands fa-github"></i> <a href="http://github.com/alyssaweiglein" target="_blank">alyssaweiglein</a></p>
    </div>
    <div class="right-top">
      <section class="no-print btn-container">
        <button class="getbtns" id="printButton"><i class="fa-solid fa-print"></i></button>
        <button class="getbtns" id="downloadButton"><i class="fa-solid fa-download"></i></button>
      </section>
    </div>
  </section>

  <div class="resume-cols">
    <div class="left">
    
      <section id="skills">
        <h3>Skills</h3>
        <hr>
        <div class="content">
          <p class="title">Languages</p>
          <ul class="skill">
            <li>JavaScript</li>
            <li>Python</li>
            <li>Java</li>
            <li>SQL</li>
            <li>Assembly</li>
            <li>C++</li>
            <li>HTML</li>
            <li>CSS</li>
          </ul>
          <p class="title">Frameworks</p>
          <ul class="skill">
            <li>React</li>
            <li>Astro</li>
            <li>Flask</li>
            <li>Tailwind CSS</li>
          </ul>
          <p class="title">Databases</p>
          <ul class="skill">
            <li>MySQL</li>
            <li>PostgreSQL</li>
            <li>MongoDB</li>
          </ul>
          <p class="title">Tools</p>
          <ul class="skill">
            <li>Git</li>
            <li>GitHub</li>
            <li>Postman</li>
            <li>Vite</li>
            <li>Netlify</li>
            <li>Heroku</li>
            <li>Adobe PhotoShop</li>
            <li>Adobe Illustrator</li>
          </ul>
          <p class="title">Industry</p>
          <ul class="skill">
            <li>Agile Methodology</li>
            <li>CI/CD</li>
            <li>WCAG</li>
            <li>OOP</li>
          </ul>
        </div>
      </section>

      <section id="certifications">
        <h3>Certifications</h3>
        <hr>
        <div class="content">
          <p class="title">ITIL 4 Foundations</p>
          <p class="title">CompTIA Project+</p>
        </div>
      </section>

    </div>

    <div class="right">

      <section id="education">
        <h3>Education</h3>
        <hr>
        <div class="content">
          <div class="top">
            <p class="title">B.S., Computer Science</p>
            <p class="date">2025</p>
          </div>
          <p>@ Oregon State University</p>
          <ul class="description">
            <li>Data Structures & Algorithms I & II</li>
            <li>Calculus</li>
            <li>Software Engineering</li>
            <li>Discrete Mathematics</li>
            <li>Database Applications</li>
          </ul>
        </div>
      </section>

      <section id="experience">
        <h3>Experience</h3>
        <hr>
        <div class="content">
          <div class="top">
            <p class="title">Developer</p>
            <p class="date">2022 - Present</p>
          </div>
          <p>@ My Company</p>
          <ul class="description">
            <li>Designed and developed complex and scalable front-end solutions using HTML, CSS, and JavaScript ES6, along with JavaScript frameworks.</li>
            <li>Translated client requirements into comprehensive plans and executed projects using Git version control and Agile software development methodologies.</li>
            <li>Ensured responsive web design principles, optimized for speed and scalability.</li>
            <li>Documented the project architecture and implementation details, providing comprehensive technical documentation for future reference and collaboration.</li>
          </ul>
        </div>
      </section>
    
      <section id="projects">
        <h3>Projects</h3>
        <hr>
        <div class="content">
          <div class="top">
            <p class="title">Project Title</p>
            <p class="date">
              <a class="no-print" href="http://github.com/alyssaweiglein/" target="_blank">
                <i class="fa-solid fa-link"></i>
              </a>
              <p class="print-href">
                http://github.com/alyssaweiglein/
              </p>
            </p>
          </div>
          <p>Made with: JS, React</p>
          <ul class="description">
            <li>list</li>
            <li>list</li>
          </ul>
        </div>

        <div class="content">
          <div class="top">
            <p class="title">Project Title</p>
            <p class="date">
              <a class="no-print" href="http://github.com/alyssaweiglein/" target="_blank">
                <i class="fa-solid fa-link"></i>
              </a>
              <p class="print-href">
                http://github.com/alyssaweiglein/
              </p>
            </p>
          </div>
          <p>Made with: JS, React</p>
          <ul class="description">
            <li>list</li>
            <li>list</li>
          </ul>
        </div>
      </section>
    </div>
  </div>

</section>

<style>
  #resume {
    padding: 40px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(5px 5px 17px rgba(0, 0, 0, 0.089));
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
  }

  .resume-cols {
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 0px;
  }

  .top {
    display: flex;
    justify-content: space-between;
  }

  p {
    font-size: 13px;
    margin-bottom: 4px;
  }

  .title {
    font-weight: bold;

  }

  .description {
    font-size: 12px;
    padding-top: 4px;
  }

  .skill {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 12px;
  }

  .skill li {
    list-style: none;
    font-size: 12px;
    margin-left: 0;
    border: 1px solid var(--theme-body);
    padding: 1px 3px;
    border-radius: 4px;
    margin-bottom: 0;
  }

  .btn-container {
    display: flex;
    gap: 6px;
  }

  .getbtns {
    font-size: 20px;
    background-color: rgb(235, 235, 235);
    padding: 8px 10px;
    border: 0;
    border-radius: 50%;
  }

  .content {
    margin-bottom: 20px;
  }

  hr {
    width: 50px;
    border: 1px solid var(--theme-body);
    border-radius: 6px;
    margin-bottom: 8px;
  }

  a {
    text-decoration: none;
  }

  a:hover, a:hover i {
    color: var(--theme-accent);
  }

  li {
    margin-left: 40px;
    margin-bottom: 4px;
  }

  i {
    width: 20px;
  }

  h3, h2 {
    margin-bottom: 10px;
  }

  section {
    margin-bottom: 40px;
  }

  .print-href {
    display: none;
    font-size: 12px;
  }
  
  @media screen and (max-width: 900px) {
    .resume-cols {
      grid-template-columns: 1fr;
    }
    .left{
      order: 2;
    }
    .right {
      order: 1;
    }
    .skill {
      flex-direction: row;
    }
    .skill li {
      list-style: none;
      margin-left: 0;
    }
    .btn-container {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  @media print {
    #resume {
      padding: 0;
      filter: none;
    }
    .print-href {
      display: block;
    }
  }
</style>