/* ---------- light mode colors ----------- */
body.light {
	--theme-background: var(--gray-0);
	--theme-background-shade: var(--gray-1);
	--theme-body: var(--gray-8);
	--theme-title: var(--gray-8);
	--theme-subtitle: var(--gray-7);
	--theme-accent: var(--gray-8);
	--theme-accent-2: var(--gray-6);
	--theme-gradient: linear-gradient(45deg, var(--orange), var(--yellow) 60%);
	--theme-border: 1px solid rgb(216, 216, 216);
	--theme-border-shade: 1px solid rgb(245, 245, 245);
}

/* ----------- dark mode colors ----------- */
body.dark {
	--theme-background: var(--violet-12);
	--theme-background-shade: var(--violet-11);
	--theme-body: var(--violet-3);
	--theme-title: var(--violet-1);
	--theme-subtitle: var(--cyan-7);
	--theme-accent: var(--lime-2);
	--theme-accent-2: var(--pink-4);
	--theme-gradient: linear-gradient(45deg, var(--red), var(--orange) 60%);
	--theme-border: 1px solid rgb(64, 64, 64);
	--theme-border-shade: 1px solid rgb(61, 61, 61);
}