:root {
  /* ------------- colors ------------- */
  --white-1: rgb(247, 247, 247);
  --white-2: rgb(235, 235, 235);
  --white-3: rgb(218, 218, 218);
  --white-4: rgb(206, 206, 206);
  --white-5: rgb(194, 194, 194);
  --grey-1: rgb(173, 173, 173);
  --grey-2: rgb(150, 150, 150);
  --grey-3: rgb(122, 122, 122);
  --grey-4: rgb(80, 80, 80);
  --grey-5: rgb(65, 65, 65);
  --black-1: rgb(41, 41, 41);
  --black-2: rgb(32, 32, 32);
  --black-3: rgb(26, 26, 26);
  --black-4: rgb(12, 12, 12);
  --black-5: rgb(8, 8, 8);
  --red-1: rgb(245, 0, 0);
  --orange-1: rgb(255, 126, 21);
  --yellow-1: rgb(255, 217, 0);
  --green-1: rgb(0, 204, 0);
  --blue-1: rgb(29, 89, 219);
  --purple-1: rgb(133, 8, 216);

  /* --------- border-radius --------- */
}